<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v1">
    <div class="container text-center">
        <p>Meet Our Team</p>
        <h1>Our Experienced Coaching Staff</h1>
    </div><!--/end container-->
</div>
<!--=== End Breadcrumbs v3 ===-->

<div class="container-fluid">
    <!-- Team Blocks -->
    <div class="row team-v7 no-gutter equal-height-columns">
        <div class="col-md-6 team-arrow-right">
            <div class="dp-table">
                <div class="equal-height-column dp-table-cell team-v7-in">
                    <span class="team-v7-name">Mitch Policky </span>
                    <span class="team-v7-position">Weight Lifting</span>
                    <p>U.S. Navy Veteran and 2014 Olympic Weightlifting Minnesota Open Champion. Coach Mitch holds certifications with both USAW (USA Weightlifting) as a Level 1 Coach and a certified personal trainer through NESTA (National Exercise and SportsTraining Association). While in the Military Coach Mitch was also responsible for physical training for his division of 40 sailors. </p>
                    <ul class="list-inline social-icons-v1">
                        <li><%= link_to icon("fa fa-twitter"), "https://twitter.com/mitchellpolicky" %></li>
                        <li><%= link_to icon("fa fa-facebook"), "https://www.facebook.com/mitch.policky" %></li>
                        <li><%= link_to icon("fa fa-youtube"), "https://www.youtube.com/channel/UC-0_A2Wxfyf8dFmthT5clvQ" %></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 team-v7-img">
            <img class="img-responsive full-width equal-height-column" src="assets/img/team/img-v1.jpg" alt="">
        </div>
    </div>
    <!-- End Team Blocks -->

    <!-- Team Blocks -->
    <div class="row team-v7 no-gutter equal-height-columns">
        <div class="col-md-6 col-md-push-6 team-arrow-left">
            <div class="dp-table">
                <div class="equal-height-column dp-table-cell team-v7-in">
                    <span class="team-v7-name">Blayne Beale</span>
                    <span class="team-v7-position">Wrestling</span>
                    <p>Former Heavyweight Wrestler for the University of Northern Iowa; 2012 NCAA Division I National Qualifier, WWC Champion 2012, 2011 World Trials Qualifier, Northern Plains Regional Champion 2011, High School Folk-style All-American, Greco-Roman and Freestyle Iowa National Team Member. Bachelor’s Degree in Movement and Exercise Science with a Minor inCoaching (Sport Psychology)</p>
                    <ul class="list-inline social-icons-v1">
                        <li><%= link_to icon("fa fa-twitter"), "https://twitter.com/blaynebeale" %></li>
                        <li><%= link_to icon("fa fa-facebook"), "https://www.facebook.com/Beale285" %></li>
                        <li><%= link_to icon("fa fa-linkedin"), "https://www.linkedin.com/pub/blayne-beale/58/7b7/117" %></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-6 team-v7-img">
            <img class="img-responsive full-width equal-height-column" src="assets/img/team/img-v2.jpg" alt="">
        </div>
    </div>
    <!-- End Team Blocks -->

    <!-- Team Blocks -->
    <div class="row team-v7 no-gutter equal-height-columns">
        <div class="col-md-6 team-arrow-right">
            <div class="dp-table">
                <div class="equal-height-column dp-table-cell team-v7-in">
                    <span class="team-v7-name">Neil Hyska</span>
                    <span class="team-v7-position">Wrestling/Nutrition</span>
                    <p>Former Division I Michigan State 184/197 pound wrestler; FILA Junior World Trials Experience in Freestyle and Greco-Roman,2X Michigan State High School All-State Wrestler, 3X Michigan State Qualifier, 5+ years of Nutritional and Supplementation Consulting.</p>
                    <ul class="list-inline social-icons-v1">
                        <li><%= link_to icon("fa fa-twitter"),"https://twitter.com/zoo_guy97"  %></li>
                        <li><%= link_to icon("fa fa-facebook"), "https://www.facebook.com/neil.hyska" %></li>
                        <li><%= link_to icon("fa fa-linkedin"), "https://www.linkedin.com/pub/neil-hyska/81/b33/859" %></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 team-v7-img">
            <img class="img-responsive full-width equal-height-column" src="assets/img/team/img-v3.jpg" alt="">
        </div>
    </div>
    <!-- Team Blocks -->
    <div class="row team-v7 no-gutter equal-height-columns">
        <div class="col-md-6 col-md-push-6 team-arrow-left">
            <div class="dp-table">
                <div class="equal-height-column dp-table-cell team-v7-in">
                    <span class="team-v7-name">Ryan Jauch</span>
                    <span class="team-v7-position">Wrestling</span>
                    <p>Former Division I University of Northern Iowa wrestler 125/133/149 pound wrestler; Four-time Illinois state wrestling qualifier,High  School  Record  145-22,  Freestyle  and Greco state  champion,  placed  fifth  in  the  nation  in  Fargo,  N.D.,  in  the Grecocompetition, Placed 4th at Senior Nationals in 2008, Ranked No. 9 in the nation among seniors at 119 pounds by Wrestling USA.</p>
                    <ul class="list-inline social-icons-v1">
                        <li><%= link_to icon("fa fa-twitter"), "https://twitter.com/xryanjauchd" %></li>
                        <li><%= link_to icon("fa fa-facebook"), "https://www.facebook.com/ryan.jauch.79" %>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-6 team-v7-img">
            <img class="img-responsive full-width equal-height-column" src="assets/img/team/img-v4.jpg" alt="">
        </div>
    </div>
    <!-- End Team Blocks -->
</div>
