<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>AN EXPOLSIVE</i> <br /> <i>ATHLETE FOCUSED</i> <br /> <i>PROGRAM</i></h2>
            <p><i>Looking To Gain An Edge</i> <br /> <i>Join A Spartan Program Today!  </i></p>
            <div class="da-img"> <iframe src="https://www.youtube.com/embed/U8q4eIE_TIo" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
        </div>
        <div class="da-slide">
            <h2><i>WEIGHTLIFTING</i> <br /> <i>WRESTLING AND</i> <br /> <i>MUCH MORE</i></h2>
            <p><i> Experienced Coaches Who Nurture</i><br> <i>New, Progressing, And Excelling </i> <br /> <i>Atletes Of All Ages</i></p>
            <div class="da-img">
                <img class="img-responsive" src="/assets/plugins/parallax-slider/img/1.png" alt="">
            </div>
        </div>
        <div class="da-slide">
            <h2><i>PROGRAMS</i> <br /> <i>BUILT BY ATHLETES</i> <br /> <i>FOR ATHLETES</i></h2>
            <p><i>Efficient And Effective Workouts</i> <br /> <i>Hit The Mats & Weights With</i> <br /> <i> Spartan Strength And Power Today!!!</i></p>
            <div class="da-img"><img src="/assets/plugins/parallax-slider/img/html5andcss3.png" alt="image01" /></div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div><!--/slider-->
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9 animated fadeInLeft">
                <span>An Intensive Physical Training, Wrestling, and Weightlifting Program </span>
                <p class="lead">Strength and conditioning company. Focused on improving athletic performance using efficient; safe training techniques and proper programming.</p>
            </div>
            <div class="col-md-3 btn-buy animated fadeInRight">
                <%= link_to programs_url, :class=> "btn-u btn-u-lg", id: "buy" do %>
                <i class="fa fa-cart-plus"></i>
                Buy A Membership Now
                <% end %>
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->
<!--=== Content Part ===-->
<div class="container content-sm">
 <!-- Service Blocks -->
 <div class="row margin-bottom-30">
     <div class="col-md-3">
      <div class="service">
        <i class="fa fa-bullhorn service-icon"></i>
       <!--  fa fa-compress -->
        <div class="panel-body">
            <h4 class="text-align">Physical Training</h4>
            <p class="lead">Work With Educated Coaches To Develop Regiments That Meet Fitness Goals.</p>
        </div>
    </div>
</div>
<div class="col-md-3">
  <div class="service">
    <i class="fa fa-cogs service-icon"></i>
    <div class="panel-body">
        <h4>Wrestling</h4>
        <p class="lead text-align">Develop New And Perfect Existing Techniques,<br> All While Under The Microscope Of Detail-Oriented Coaches.</p>
    </div>
</div>
</div>
<div class="col-md-3">
  <div class="service">
    <i class="fa fa-anchor service-icon"></i>
    <!--  fa-anchor -->
    <div class="panel-body">
        <h4>Weightlifting</h4>
        <p class="lead">Increase Strength, Agility, Flexibility,<br> And Stamina With Emphasis On Proper Form And Safety.</p>
    </div>
</div>
</div>
<div class="col-md-3">
  <div class="service">
    <i class="fa fa-heartbeat service-icon"></i>
    <div class="panel-body">
        <h4 class="text-align">Sports Psychology</h4>
        <p class="lead text-align">Build The Emotional And Mental Skills <br> Needed To Work <br> With Yourself To Overcome High Stress Situations. </p>
    </div>
</div>
</div>
</div>
<!-- End Service Blokcs -->

<!-- Recent Blogs-->
<div class="headline"><h2>Recent Blogs</h2></div>
<div class="row margin-bottom-20">
<% @blogged.each do |blog| %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
         <div class="thumbnail-img">
            <div class="overflow-hidden">
               <%= image_tag blog.photo_url.to_s,:class=>" img-responsive", :width => 844, :height => 562 %>
            </div>
            <%= link_to "read more +", blog_url(blog), :class=> "btn-more hover-effect"%>
        </div>
        <div class="caption">
            <h3><a class="hover-effect" href="#"><%= blog.title.titleize %></a></h3>
            <p><%= truncate(blog.content, :length => 150) %></p>
        </div>
    </div>
</div>
<% end %>
</div>
<!-- End Recent Blogs-->

<!-- Info Blokcs -->
<div class="row margin-bottom-30">
 <!-- Welcome Block -->
 <div class="col-md-8 md-margin-bottom-40">
   <div class="headline"><h2>Join Spartan Strength And Power</h2></div>
   <div class="row">
    <div class="col-sm-4">
        <img class="img-responsive margin-bottom-20" src="assets/img/main/img18.jpg" alt="">
    </div>
    <div class="col-sm-8">
        <p class="lead">People Who Join Our Program Are Looking To:</p>
        <ul class="list-unstyled margin-bottom-20">
            <li class="lead"><i class="fa fa-check color-green"></i> Increase Competitive Edge</li>
            <li class="lead"><i class="fa fa-check color-green"></i> Increase Overall Athleticism</li>
            <li class="lead"><i class="fa fa-check color-green"></i> Increase Overall Fitness </li>
            <li class="lead"><i class="fa fa-check color-green"></i> Break Physical and Mental Boundaries</li>
        </ul>
    </div>
</div>

<blockquote class="hero-unify">
    <p class="lead">"My goal is to provide programs that apply our skills and expertise effectively, so that our clients can development and improve the mental and physical skills necessary to compete and achieve success at higher levels."  </p>
    <small>Co-Owner & Coach Mitch Policky</small>
</blockquote>
</div><!--/col-md-8-->

<!-- Latest Shots -->
<div class="col-md-4">
   <div class="headline"><h2>Latest Shots</h2></div>
   <div id="myCarousel" class="carousel slide carousel-v1">
    <div class="carousel-inner">
    <% @gallerz.each do |gallery| %>
        <div class="item active">
        <%= image_tag gallery.image_url.to_s,:class=>"img-responsive" %>
            <div class="carousel-caption">
                <p><%= gallery.title %></p>
            </div>
        </div>
        <% end %>
        <% @galleries.each do |gallery| %>
        <div class="item">
            <%= image_tag gallery.image_url.to_s,:class=>"img-responsive" %>
            <div class="carousel-caption">
                <p><%= gallery.title %></p>
            </div>
        </div>
        <% end %>
    </div>

    <div class="carousel-arrow">
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
</div><!--/col-md-4-->
</div>
<!-- End Info Blokcs -->

<!-- Owl Clients v1 -->
<div class="headline"><h2>Sponsored By</h2></div>
<div class="owl-clients-v1">
<%= render "static_pages/clients" %>
</div>
<!-- End Owl Clients v1 -->
</div><!--/container-->
<!-- End Content Part -->

 <!-- JS Global Compulsory -->
<script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="/assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="/assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript" src="/assets/js/plugins/parallax-slider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        OwlCarousel.initOwlCarousel();
        ParallaxSlider.initParallaxSlider();
    });
</script>

