<!--Blog Post-->
<% @blogs.each do |blog| %>
<div class="blog margin-bottom-40">
<h2><%= blog.title.titleize %></h2>
  <div class="blog-post-tags">
    <ul class="list-unstyled list-inline blog-info">
      <li><i class="fa fa-calendar"></i> <%= blog.created_at.strftime("%B %d, %Y") %></li>
      <li><i class="fa fa-pencil"></i> <%= blog.author %></li>
      <li><i class="fa fa-comments"></i> <%= blog.comments.count %> <%= link_to "Comments", blog_url(blog) %></li>
      <li><i class="fa fa-eye"></i> <%= blog.impressionist_count %>  <%= link_to "Views", blog_url(blog) %></li>
    </ul>
      <% if blog.tags.any? %>
    <ul class="list-unstyled list-inline blog-tags">
      <li>
        <i class="fa fa-tags"></i>
         <% blog.tags.each do |tag| %>
        <%= link_to tag.name, tag_url(tag.name) %>
        <% end %>
      </li>
    </ul>
    <% end %>
  </div>
  <div class="blog-img">
    <%= image_tag blog.photo_url.to_s,:class=>"img-responsive", :width => 844, :height => 562 %>
  </div>
  <p class="lead"><%= truncate(blog.content, :length => 150) %></p>
  <p> <%= link_to blog, :class=> "btn-u btn-u-small" , id: "show" do %>
    <i class="fa fa-plus-sign"></i>
    Read More
    <% end %></p>
</div>
<% end %>
<!--End Blog Post-->

