<!-- Right Sidebar -->
<div class="col-md-3 magazine-page">

  <!-- Blog Tags -->
  <div class="headline headline-md"><h2>Blog Tags</h2></div>
  <ul class="list-unstyled blog-tags margin-bottom-30">
    <% tag_cloud Blog.tag_counts_on(:tags).most_used.limit(15), % s do |tag, css_class|%>
    <%= link_to tag_path(tag.name), class: css_class do%>
    <li> <i class="fa fa-tags"> <%= tag.name  %></i></li>
    <% end %>
    <% end %>
  </ul>
  <!-- End Blog Tags -->

  <!-- Other Posts (Random) -->
  <div class="posts margin-bottom-40">
    <div class="headline headline-md"><h2>Other Posts</h2></div>
    <% @otherposts.each do |blog| %>
    <dl class="dl-horizontal">
      <%= link_to blog_url(blog) do %>
      <dt><%= image_tag blog.photo_url(:thumb).to_s, :class=> "hover-effect" %></dt>
      <dd>
        <p><strong><%= blog.title.titleize %></strong></p>
      <% end %>
         <p><%= truncate(blog.content, :length => 64)%></p>
      </dd>
    </dl>
    <% end %>
  </div><!--/posts-->
  <!-- End Other Posts (Random) -->

  <!-- Tabs Widget -->
  <div class="headline headline-md"><h2>Tabs Widget</h2></div>
  <div class="tab-v2 margin-bottom-40">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home-1">About Us</a></li>
      <li><a data-toggle="tab" href="#home-2">Quick Links</a></li>
    </ul>
    <div class="tab-content">
      <div id="home-1" class="tab-pane active">
        <p>Hear from the Spartan Strength and Power Team</p> <p>Pellentesque fermentum, ante ac felis consectetur id. Donec eget orci metusvivamus imperdiet.</p>
      </div>
      <div id="home-2" class="tab-pane magazine-sb-categories">
        <div class="row">
          <ul class="list-unstyled col-xs-6">
            <li><a href="#">Best Sliders</a></li>
            <li><a href="#">Parralax Page</a></li>
            <li><a href="#">Backgrounds</a></li>
            <li><a href="#">Parralax Slider</a></li>
            <li><a href="#">Responsive</a></li>
            <li><a href="#">800+ fa fas</a></li>
          </ul>
          <ul class="list-unstyled col-xs-6">
            <li><a href="#">60+ Pages</a></li>
            <li><a href="#">Layer Slider</a></li>
            <li><a href="#">Bootstrap 3</a></li>
            <li><a href="#">Fixed Header</a></li>
            <li><a href="#">Best Template</a></li>
            <li><a href="#">And Many More</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Tabs Widget -->

  <!-- Photo Stream -->
  <div class="headline headline-md"><h2>Photo Stream</h2></div>
  <ul class="list-unstyled blog-photos margin-bottom-30">
    <% @randpic.each do |blog| %>
    <% if blog.photo_url != nil %>
    <%= link_to blog, id: "image" do %>
    <li><%= image_tag blog.photo_url(:thumb).to_s, :class=> "hover-effect" %></li>
    <% end %>
    <% end %>
    <% end %>
    </ul>

  <!-- End Photo Stream -->

  <!-- Blog Latest Tweets -->
  <div class="blog-twitter margin-bottom-40">
    <div class="headline headline-md"><h2>Latest Tweets</h2></div>
    <div class="blog-twitter-inner">
      <i class="fa fa-twitter"></i>
      <a href="#">@htmlstream</a>
      At vero eos et accusamus et iusto odio dignissimos.
      <a href="#">http://t.co/sBav7dm</a>
      <span>5 hours ago</span>
    </div>
    <div class="blog-twitter-inner">
      <i class="fa fa-twitter"></i>
      <a href="#">@htmlstream</a>
      At vero eos et accusamus et iusto odio dignissimos.
      <a href="#">http://t.co/sBav7dm</a>
      <span>5 hours ago</span>
    </div>
    <div class="blog-twitter-inner">
      <i class="fa fa-twitter"></i>
      <a href="#">@htmlstream</a>
      At vero eos et accusamus et iusto odio dignissimos.
      <a href="#">http://t.co/sBav7dm</a>
      <span>5 hours ago</span>
    </div>
  </div>
</div>
<!-- End Right Sidebar -->
