<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Spartan Strength And Power Blog</h1>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Blog Posts ===-->
<div class="bg-color-light">
  <div class="container content-sm">
    <!-- Blog Posts -->
    <div class="news-v3 margin-bottom-60">
      <%= image_tag @blog.photo_url.to_s,:class=>"img-responsive", :width => 1140, :height => 1218 %>
      <div class="btn-group btn-group-justified">
        <%= link_to icon('chevron-left'), blogs_path, class: "btn btn-primary" %>

        <%= link_to icon('edit'), edit_blog_path(@blog), class: "btn btn-warning" %>

        <%= link_to icon('trash-o'), @blog, method: :delete, data: { confirm: "Do you really want to delete this blog?" }, class: "btn btn-danger" %>
      </div>
      <div class="news-v3-in">
        <ul class="list-inline posted-info">
          <li>By <%= @blog.author %></li>
          <li><%= @blog.created_at.strftime("%B-%m-%Y") %></li>
        </ul>
        <h2><a href="#"><%= @blog.title %></a></h2>
        <p><%= @blog.content %></p>
        <!-- <ul class="post-shares">
          <li>
            <a href="#">
              <i class="rounded-x icon-speech"></i>
              <span>26</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="rounded-x icon-share"></i>
              <span>98</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="rounded-x icon-heart"></i>
              <span>30</span>
            </a>
          </li>
        </ul> -->
      </div>
    </div>
    <!-- End Blog Posts -->
  </div>
</div>
<!--=== End Blog Posts ===-->


