<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Free Trial</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!-- Panorama Map -->
<div id="panorama" class="map margin-bottom-40"></div>
<!-- End Panorama Map -->

<!--=== Content Part ===-->
<div class="container content">
  <div class="row margin-bottom-30">
    <div class="col-md-9 mb-margin-bottom-30">
        <div class="headline"><h2>Spartan Contact Form</h2></div>
        <p class="lead">Are You Interested in Joining Spartan Strength And Power? Are You Looking For a Free Trial? Do You Have A Question We Didn't Answer? If So Shoot Us An Email With Your Name And Concern and We'll Get Back To You! </p><br />

        <form action="/contacts" method="post" id="sky-form3" class="sky-form contact-style">
            <fieldset class="no-padding">
             <%= form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>

                <label>Name <span class="color-red">*</span></label>
                <div class="row sky-space-20">
                    <div class="col-md-7 col-md-offset-0">
                        <div>
                            <%= f.text_field :name, :required => true, :class => 'form-control' %>
                        </div>
                    </div>
                </div>

                <label>Email <span class="color-red">*</span></label>
                <div class="row sky-space-20">
                    <div class="col-md-7 col-md-offset-0">
                        <div>
                            <%= f.email_field :email, :required => true, :class=> "form-control" %>
                        </div>
                    </div>
                </div>

                <label>Message <span class="color-red">*</span></label>
                <div class="row sky-space-20">
                    <div class="col-md-11 col-md-offset-0">
                        <div>
                        <%= f.text_area :message, :as => :text, :required => true, :rows => 8, :class => 'form-control'%>
                        </div>
                    </div>
                </div>

                <p><%= f.submit "Send Message", :class=> "btn-u" %></p>
            </fieldset>

            <div class="message">
                <i class="rounded-x fa fa-check"></i>
                <p>Your message was successfully sent!</p>
            </div>
            <% end %>
        </form>
    </div><!--/col-md-9-->

    <div class="col-md-3">
       <%= render "layouts/contactbar" %>
   </div><!--/col-md-3-->
</div><!--/row-->

<!-- Owl Clients v1 -->
<div class="headline"><h2>Sponsored By</h2></div>
<div class="owl-clients-v1">
 <%= render "static_pages/clients" %>
</div>
<!-- End Owl Clients v1 -->
</div><!--/container-->
<!--=== End Content Part ===-->

<!-- JS Implementing Plugins -->

<script type="text/javascript" src="/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
<script type="text/javascript" src="/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/pages/page_contacts.js"></script>
<script type="text/javascript" src="/assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&sensor=true"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        ContactPage.initPanorama();
        LoginForm.initLoginForm();
        ContactForm.initContactForm();
        OwlCarousel.initOwlCarousel();
    });
</script>



