<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Spartan Program Gallery</h1>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<!-- Three Columns -->
<div class="container content">
  <div class="text-center margin-bottom-50">
    <h2 class="title-v2 title-center">Photos and Videos</h2>
    <p class="space-lg-hor">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
  </div>

  <!-- Search Bar -->
  <div class="row">
    <div class="col-xs-12">
     <input type="text" id="quicksearch" placeholder="Search Through Gallery (start typing)" class="form-control">
    </div>
  </div>
  <!-- End Search Bar -->
  <hr>
  <div class="row  margin-bottom-30 isotope-container">
    <% @galleries.each do |gallery| %>
    <div class="col-sm-4 sm-margin-bottom-30 isotope-item">
      <a href=<%= asset_path(gallery.image.large) %> rel="gallery/image" class="fancybox img-hover-v1" title="<%= gallery.title %>">
      <% if gallery.video == nil || "" %>
        <span>
        <%= image_tag gallery.image_url.to_s,:class=>"img-responsive" %></span>
        <% else %>
        <span><%= image_tag gallery.video_url.to_s,:class=>"embed-responsive embed-responsive-16by9" %></span>
        <% end %>
      </a>
      <div class="list-group-item text-center list-group-item-info "><%= gallery.title %>
      </div>
      <br>
    </div>
    <% end %>
  </div>
</div>
<!-- End Three Columns -->
<!-- Fancy Box -->
<script type="text/javascript" src="/assets/js/plugins/fancy-box.js"></script>
<script type="text/javascript" src="/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<!-- End Fancy Box -->

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>

<!-- End responsive, Isotope-based layout example -->

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        FancyBox.initFancybox();
        });

     $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>































