<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Gallery #<%= @gallery.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Title</dt>
              <dd><%= @gallery.title %></dd>

              <dt>Description</dt>
              <dd><%= @gallery.description %></dd>

              <dt>Photo</dt>
              <dd><%= @gallery.image %></dd>

              <dt>Video</dt>
              <dd><%= @gallery.video %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), galleries_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_gallery_path(@gallery), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @gallery, method: :delete, data: { confirm: "Do you really want to delete this gallery?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->

