 <!--=== Header ===-->
      <div class="header">
        <div class="container">
          <!-- Logo -->
          <a class="logo" href="#">
            <img src="/assets/img/logo1-default.png" alt="Logo">
          </a>
          <!-- End Logo -->

          <!-- Topbar -->
          <div class="topbar">
            <ul class="loginbar pull-right">
              <li class="hoverSelector">
                <i class="fa fa-globe"></i>
                <a>Languages</a>
                <ul class="languages hoverSelectorBlock">
                  <li class="active">
                    <a href="#">English <i class="fa fa-check"></i></a>
                  </li>
                  <li><a href="#">Spanish</a></li>
                  <li><a href="#">Russian</a></li>
                  <li><a href="#">German</a></li>
                </ul>
              </li>
              <li class="topbar-devider"></li>
              <li><%= link_to "Login", login_url%></li>
              <li class="topbar-devider"></li>
              <li><%= link_to "Register", sign_up_url %></li>
            </ul>
          </div>
          <!-- End Topbar -->

          <!-- Toggle get grouped for better mobile display -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
          <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
          <div class="container">
            <ul class="nav navbar-nav">
              <!-- Home -->
              <li>
                <%= link_to 'Home', unauthenticated_root_url %>
              </li>

              <!-- End Home -->

              <!-- About Our Program-->
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                  The Spartan Team
                </a>

                <ul class="dropdown-menu">
                  <!-- About Pages -->
                  <li>
                    <%= link_to 'The Coaches', about_us_url %>
                  </li>
                  <li><%= link_to 'The Facilities', facilities_url %></a>
                  </li>
                  <li> <%= link_to 'FAQs', faqs_url %></li>

                </ul>
              </li>
              <!-- End About Our Program -->

              <!-- Spartan Programs-->
              <li>
                  <%= link_to 'The Spartan Programs', programs_url%>
              </li>
              <!-- End Spartan Programs-->

              <!-- Community-->
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                  Community
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="javascript:void(0);">Blogs</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Videos</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Event Calendar</a>
                  </li>
                </ul>
              </li>
              <!-- End Community -->

              <!-- Free Trial-->
              <li>
                <%= link_to "Free Trial", trials_url %>
              </li>
              <!-- End Free Trial-->

              <!-- Search Block -->
              <li>
                <i class="search fa fa-search search-btn"></i>
                <div class="search-open">
                  <div class="input-group animated fadeInDown">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                      <button class="btn-u" type="button">Go</button>
                    </span>
                  </div>
                </div>
              </li>
              <!-- End Search Block -->
            </ul>
          </div><!--/end container-->
        </div><!--/navbar-collapse-->
      </div>
      <!--=== End Header ===-->
