<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<html>
<head>

 <title>Spartan Strength And Power</title>

 <!-- Meta -->
 <meta charset="utf-8">
 <meta content="width=device-width, initial-scale=1.0" name="viewport">
 <meta content="" name="description">
 <meta content="" name="author">

 <!-- Favicon -->
 <link rel="shortcut icon" href="favicon.ico">

 <!-- Web Fonts -->
 <link rel="shortcut" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin">

 <!-- CSS Global Compulsory -->
 <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
 <link rel="stylesheet" href="assets/css/style.css">

 <!-- CSS Header and Footer -->
 <link rel="stylesheet" href="assets/css/headers/header-default.css">
 <link rel="stylesheet" href="assets/css/footers/footer-v1.css">

 <!-- CSS Implementing Plugins -->
 <link rel="stylesheet" href="assets/plugins/animate.css">
 <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
 <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">

 <!-- CSS Theme -->
 <link rel="stylesheet" href="assets/css/theme-colors/blue.css"/>

 <!-- CSS Customization -->
 <link rel="stylesheet" href="assets/css/custom.css">

 <!-- JS Global Compulsory -->
 <script src="assets/plugins/jquery/jquery.min.js"></script>
 <script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
 <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

 <!-- JS Implementing Plugins -->
 <script src="assets/plugins/back-to-top.js"></script>
 <script src="assets/plugins/smoothScroll.js"></script>

 <!-- JS Customization -->
 <script type="text/javascript" src="assets/js/custom.js"></script>

 <!-- JS Page Level -->
 <script src="assets/js/app.js"></script>

<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <!--=== Header ===-->
      <div class="header">
        <div class="container">
          <!-- Logo -->
          <a class="logo" href="index.html">
            <img src="assets/img/logo1-default.png" alt="Logo">
          </a>
          <!-- End Logo -->

          <!-- Topbar -->
          <div class="topbar">
            <ul class="loginbar pull-right">
              <li class="hoverSelector">
                <i class="fa fa-globe"></i>
                <a>Languages</a>
                <ul class="languages hoverSelectorBlock">
                  <li class="active">
                    <a href="#">English <i class="fa fa-check"></i></a>
                  </li>
                  <li><a href="#">Spanish</a></li>
                  <li><a href="#">Russian</a></li>
                  <li><a href="#">German</a></li>
                </ul>
              </li>
              <li class="topbar-devider"></li>
              <li><%= link_to "Login", new_user_session_url%></li>
              <li class="topbar-devider"></li>
              <li><%= link_to "Register", new_user_registration_url %></li>
            </ul>
          </div>
          <!-- End Topbar -->

          <!-- Toggle get grouped for better mobile display -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
          <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
          <div class="container">
            <ul class="nav navbar-nav">
              <!-- Home -->
              <li>
                <%= link_to 'Home', unauthenticated_root_url %>
              </li>

          <!-- End Home -->

          <!-- About Our Program-->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              The Spartan Team
            </a>

            <ul class="dropdown-menu">
              <!-- About Pages -->
              <li>
                <%= link_to 'The Coaches', about_us_url %>
              </li>
              <li><a href="page_services.html">The Facilities</a>
              </li>
              <li> <%= link_to 'FAQs', faqs_url %></li>

            </ul>
          </li>
          <!-- End About Our Program -->

          <!-- Blog -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              The Spartan Programs
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Blog Large Image</a>
                <ul class="dropdown-menu">
                  <li><a href="blog_large_right_sidebar1.html">Right Sidebar</a></li>
                  <li><a href="blog_large_left_sidebar1.html">Left Sidebar</a></li>
                  <li><a href="blog_large_full_width1.html">Full Width</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Blog Medium Image</a>
                <ul class="dropdown-menu">
                  <li><a href="blog_medium_right_sidebar1.html">Right Sidebar</a></li>
                  <li><a href="blog_medium_left_sidebar1.html">Left Sidebar</a></li>
                  <li><a href="blog_medium_full_width1.html">Full Width</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Blog Item Pages</a>
                <ul class="dropdown-menu">
                  <li><a href="blog_large_right_sidebar_item1.html">Right Sidebar Item</a></li>
                  <li><a href="blog_large_left_sidebar_item1.html">Left Sidebar Item</a></li>
                  <li><a href="blog_large_full_width_item1.html">Full Width Item</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Blog Simple Pages</a>
                <ul class="dropdown-menu">
                  <li><a href="blog_large_right_sidebar.html">Right Sidebar Large</a></li>
                  <li><a href="blog_medium_right_sidebar.html">Right Sidebar Medium</a></li>
                  <li><a href="blog_large_full_width.html">Full Width</a></li>
                  <li><a href="blog_large_right_sidebar_item.html">Right Sidebar Item</a></li>
                  <li><a href="blog_large_full_width_item.html">Full Width Item</a></li>
                </ul>
              </li>
              <li><a href="blog_masonry_3col.html">Masonry Grid Blog</a></li>
              <li><a href="blog_timeline.html">Blog Timeline</a></li>
            </ul>
          </li>
          <!-- End Blog -->

          <!-- Portfolio -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              Portfolio
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">No Space Boxed</a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio_2_columns_grid_no_space.html">2 Columns</a></li>
                  <li><a href="portfolio_3_columns_grid_no_space.html">3 Columns</a></li>
                  <li><a href="portfolio_4_columns_grid_no_space.html">4 Columns</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Grid Boxed</a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio_2_columns_grid.html">2 Columns</a></li>
                  <li><a href="portfolio_3_columns_grid.html">3 Columns</a></li>
                  <li><a href="portfolio_4_columns_grid.html">4 Columns</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Grid Text Boxed</a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio_2_columns_grid_text.html">2 Columns</a></li>
                  <li><a href="portfolio_3_columns_grid_text.html">3 Columns</a></li>
                  <li><a href="portfolio_4_columns_grid_text.html">4 Columns</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">No Space Full Width</a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio_2_columns_fullwidth_no_space.html">2 Columns</a></li>
                  <li><a href="portfolio_3_columns_fullwidth_no_space.html">3 Columns</a></li>
                  <li><a href="portfolio_4_columns_fullwidth_no_space.html">4 Columns</a></li>
                  <li><a href="portfolio_5_columns_fullwidth_no_space.html">5 Columns</a></li>
                  <li><a href="portfolio_6_columns_fullwidth_no_space.html">6 Columns</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Grid Full Width</a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio_2_columns_fullwidth.html">2 Columns</a></li>
                  <li><a href="portfolio_3_columns_fullwidth.html">3 Columns</a></li>
                  <li><a href="portfolio_4_columns_fullwidth.html">4 Columns</a></li>
                  <li><a href="portfolio_5_columns_fullwidth.html">5 Columns</a></li>
                  <li><a href="portfolio_6_columns_fullwidth.html">6 Columns</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Grid Text Full Width</a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio_2_columns_fullwidth_text.html">2 Columns</a></li>
                  <li><a href="portfolio_3_columns_fullwidth_text.html">3 Columns</a></li>
                  <li><a href="portfolio_4_columns_fullwidth_text.html">4 Columns</a></li>
                  <li><a href="portfolio_5_columns_fullwidth_text.html">5 Columns</a></li>
                  <li><a href="portfolio_6_columns_fullwidth_text.html">6 Columns</a></li>
                </ul>
              </li>
              <li><a href="portfolio_hover_colors.html">Portfolio Hover Colors</a></li>
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Portfolio Items</a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio_single_item.html">Single Item</a></li>
                  <li><a href="portfolio_old_item.html">Basic Item 1</a></li>
                  <li><a href="portfolio_old_item1.html">Basic Item 2</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Portfolio Basic Pages</a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio_old_text_blocks.html">Basic Grid Text</a></li>
                  <li><a href="portfolio_old_2_column.html">Basic 2 Columns</a></li>
                  <li><a href="portfolio_old_3_column.html">Basic 3 Columns</a></li>
                  <li><a href="portfolio_old_4_column.html">Basic 4 Columns</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <!-- End Portfolio -->

          <!-- Features -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              Free Trial
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Headers</a>
                <ul class="dropdown-menu">
                  <li><a href="feature_header_default.html">Header Default</a></li>
                  <li><a href="feature_header_v1.html">Header v1</a></li>
                  <li><a href="feature_header_v2.html">Header v2</a></li>
                  <li><a href="feature_header_v3.html">Header v3</a></li>
                  <li><a href="feature_header_v4.html">Header v4</a></li>
                  <li><a href="feature_header_v5.html">Header v5</a></li>
                  <li><a href="feature_header_v6_transparent.html">Header v6 Transparent</a></li>
                  <li><a href="feature_header_v6_semi_dark_transparent.html">Header v6 Dark Transparent</a></li>
                  <li><a href="feature_header_v6_semi_white_transparent.html">Header v6 White Transparent</a></li>
                  <li><a href="feature_header_v6_border_bottom.html">Header v6 Border Bottom</a></li>
                  <li><a href="feature_header_v6_classic_dark.html">Header v6 Classic Dark</a></li>
                  <li><a href="feature_header_v6_classic_white.html">Header v6 Classic White</a></li>
                  <li><a href="feature_header_v6_dark_dropdown.html">Header v6 Dark Dropdown</a></li>
                  <li><a href="feature_header_v6_dark_scroll.html">Header v6 Dark on Scroll</a></li>
                  <li><a href="feature_header_v6_dark_search.html">Header v6 Dark Search</a></li>
                  <li><a href="feature_header_v6_dark_res_nav.html">Header v6 Dark in Responsive</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Footers</a>
                <ul class="dropdown-menu">
                  <li><a href="feature_footer_default.html#footer-default">Footer Default</a></li>
                  <li><a href="feature_footer_v1.html#footer-v1">Footer v1</a></li>
                  <li><a href="feature_footer_v2.html#footer-v2">Footer v2</a></li>
                  <li><a href="feature_footer_v3.html#footer-v3">Footer v3</a></li>
                  <li><a href="feature_footer_v4.html#footer-v4">Footer v4</a></li>
                  <li><a href="feature_footer_v5.html#footer-v5">Footer v5</a></li>
                  <li><a href="feature_footer_v6.html#footer-v6">Footer v6</a></li>
                  <li><a href="feature_footer_v7.html#footer-v7">Footer v7</a></li>
                </ul>
              </li>
              <li><a href="feature_gallery.html">Gallery Examples</a></li>
              <li><a href="feature_animations.html">Animations on Scroll</a></li>
              <li><a href="feature_parallax_counters.html">Parallax Counters</a></li>
              <li><a href="feature_parallax_blocks.html">Parallax Blocks</a></li>
              <li><a href="feature_funny_boxes.html">Funny Boxes</a></li>
            </ul>
          </li>
          <!-- End Features -->

          <!-- Search Block -->
          <li>
            <i class="search fa fa-search search-btn"></i>
            <div class="search-open">
              <div class="input-group animated fadeInDown">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
                </span>
              </div>
            </div>
          </li>
          <!-- End Search Block -->
        </ul>
      </div><!--/end container-->
    </div><!--/navbar-collapse-->
  </div>
  <!--=== End Header ===-->

  <%= yield %>
  <!--=== Footer Version 1 ===-->
  <div class="footer-v1">
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- About -->
          <div class="col-md-3 md-margin-bottom-40">
            <a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo2-default.png" alt=""></a>
            <p>About Spartan Strength And Power</p>
            <p>Our goal is to utilize the insight and knowledge that we have gained through years of experience in order to ensure each athlete’s success.</p>
          </div><!--/col-md-3-->
          <!-- End About -->

          <!-- Latest -->
          <div class="col-md-3 md-margin-bottom-40">
            <div class="posts">
              <div class="headline"><h2>Latest Posts</h2></div>
              <ul class="list-unstyled latest-list">
                <li>
                  <a href="#">Incredible content</a>
                  <small>May 8, 2014</small>
                </li>
                <li>
                  <a href="#">Best shoots</a>
                  <small>June 23, 2014</small>
                </li>
                <li>
                  <a href="#">New Terms and Conditions</a>
                  <small>September 15, 2014</small>
                </li>
              </ul>
            </div>
          </div><!--/col-md-3-->
          <!-- End Latest -->

          <!-- Link List -->
          <div class="col-md-3 md-margin-bottom-40">
            <div class="headline"><h2>Useful Links</h2></div>
            <ul class="list-unstyled link-list">
              <li><i class="fa fa-angle-right"></i><%= link_to "About Us", about_us_url %></li>
              <li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
            </ul>
          </div><!--/col-md-3-->
          <!-- End Link List -->

          <!-- Address -->
          <div class="col-md-3 map-img md-margin-bottom-40">
            <div class="headline"><h2>Contact Us</h2></div>
            <address class="md-margin-bottom-40">
              25, Lorem Lis Street, Orange <br />
              California, US <br />
              Phone: 800 123 3456 <br />
              Fax: 800 123 3456 <br />
              Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
            </address>
          </div><!--/col-md-3-->
          <!-- End Address -->
        </div>
      </div>
    </div><!--/footer-->

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>
              2015 &copy; All Rights Reserved.
              <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
            </p>
          </div>

          <!-- Social Links -->
          <div class="col-md-6">
            <ul class="footer-socials list-inline">
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                  <i class="fa fa-skype"></i>
                </a>
              </li>
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                  <i class="fa fa-pinterest"></i>
                </a>
              </li>
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                  <i class="fa fa-dribbble"></i>
                </a>
              </li>
              <li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Youtube">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Social Links -->
        </div>
      </div>
    </div><!--/copyright-->
  </div>
  <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

</body>
</html>
<script>
  jQuery(document).ready(function() {
    App.init();
  });
</script>

